body {
    background-image:url(../../../shared/images/body_M.jpg);
   

}

.desktopNaigationWrapper {
    display: grid;
    grid-template-columns:repeat(20,1fr) ;
     
  

    
}

.singIn,.galleryButton,.newsButton,.signUpButton,.shopButton {
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
    padding:  2%;
}
.navigationLogo {
    grid-column: 1/3;
    justify-self: center;
    align-self: center;  
    width: 80%;
    height: 80%;
    cursor: pointer;


}
.singIn {
    grid-column: 18/20;
    justify-self: center;
    align-self: center;
}



.otherLinks{
    grid-column: 4/5;
    justify-self: center;
    align-self: center;
}